body {
    color:black

}
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background:  rgb(196, 255, 178);
    font-size: 3rem;
    min-width: 80rem;

}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(123, 75, 148) ;
    transform: scale(1.02) ;
    transform: transform 100ms;

}
.choice-prefix {
    padding: 2rem 2.5rem;
    color:black
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: red;
}
/* Display heads up*/

#hud {
    display: flex;
    justify-content: space-between;
}
.hud-prefix {
    text-align: center;
    font-size: 2rem;
}
.hud-main-text {
    text-align: center;
}
@media screen and (max-width:768px) {
    .choice-container{
        min-width: 40rem;
    }
}
#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid greenyellow;
    margin-top:2rem;
    border-radius: 50px;
    overflow: hidden;
}
#progressBarFull{
    height: 100%;
    background: yellowgreen;
    width: 0%;
}
